<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta name="keywords" content="1212招聘节,双12招聘节,招聘周,招聘,互联网招聘,移动互联网招聘,社交招聘,IT招聘,微信招聘,微博招聘,豆瓣招聘,跳槽,高薪职位">
<meta name="description" content="最靠谱的招聘社区。1212创业企业招聘。">
<title>全部职位&nbsp;-&nbsp;</title>
<script src="js/analytics.js" async=""></script>


<link rel="stylesheet" type="text/css" href="css/Index_aio1.css">
<script src="js/Index_aio.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="/Public/html5shiv-3.7.2/html5shiv.min.js"></script><script src="/Public/Respond/dest/respond.min.js"></script><![endif]-->

</head>
<body>
<div style="top: 0px; opacity: 1;" id="js-header" class="">
  <div class="header-wrap clearfix">
    <div class="logo-wrap"><a href="" class="logo hide-text"><img src="img/logo.png"></a></div>

        <div class="header-right">
        <ul>
            <li class="header-right-item">
               
            </li>
            <li class="header-right-item">
                <a id="js-header-login" href="../denglu.php">
                    登录
                </a>
            </li>
            <li class="header-right-item">
                <a id="js-header-register" href="../login.php">
                    注册
                </a>
            </li>
        </ul>
    </div>
    <ul class="header-mid">
        <li>
            <a href="">兼职</a>
        </li>
        <li>
            <a href="">实习生</a>
        </li>
       <li>
            <a href="">论坛</a>
        </li>
    </ul>
      </div>
</div>

<link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="js/bootstrap-datetimepicker.js"></script>
<script src="js/e-power-detail.js"></script>
<div class="container">
  
  <div class="row wei-user-heading">
    
  </div>
</div>
<div class="container-fluid container-nav-tabs-2">
  <div class="container">
    <ul class="nav nav-tabs-2" role="tablist">
      <li><a href="">职位管理</a></li>
      <li><a href="">简历管理</a></li>
      <li><a href="../qiyeziliao.php">企业资料</a></li>
      <li class="active"><a href="">账号设置</a></li>
    </ul>
  </div>
</div>

        <div class="container">
  <div class="row wei-user-admin-container">
    <div class="col-xs-3 col-md-2 sidebar-menu">
      <ul class="list-group">
      
        <li class="list-group-item"><a class="text-primary" href=""><i class=" fa-2x fa-calendar"></i>职位管理</a></li>
        <li class="list-group-item notifier-number" data-notifier-number="0"><a class="text-label" href=""><i class="fa-calendar1"></i>简历管理</a></li>
        <!--<li class="list-group-item"><a class="text-label" href=""><i class="fa fa-2x fa-comments-o"></i>评论管理</a></li>-->
        <li class="list-group-item notifier notifier-lg"><a class="text-label" href=""><i class="fa-calendar2"></i>企业资料</a></li>
        <li class="list-group-item"><a class="text-label" href=""><i class="fa-calendar3"></i>账号设置</a></li>
      </ul>
    </div>
    <div class="col-xs-15 col-md-10 wei-user-admin-content">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-switch.css">
      <div class="wei-user-admin-title-bar">
        <div class="container-nav-tabs-2">
          <ul class="nav nav-tabs-2" role="tablist">
            <li class="active"><a href="">全部职位</a></li>
          <!--  <li><a href="">正在热招</a></li>
            <li><a href="">已关闭职位</a></li>-->
          </ul>
        </div>

        <div class="btn-toolbar btn-toolbar-inline">
          <div class="btn-group"><a href="../fabujianzhi.php" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;发布职位</a></div>
          <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享全部职位&nbsp;<i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
              <li><a href="javascript:;" onClick="J.share_wei_user('14296', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
              <li><a href="javascript:;" onClick="J.share_wei_user('14296', 'weixin', function() {setup_weixin_qr('/e/14296/power');$('#weixin_modal').modal('show');});"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
              <li><a href="javascript:;" onClick="J.share_wei_user('14296', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
            </ul>
          </div>
        </div>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th style="text-align:center;">职位名称</th>
            <th style="width:60px; text-align:center;">招聘</th>
            <th style="width:60px; text-align:center;"></th>
            <th style="width:140px; text-align:center;">发布时间</th>
            <th style="width:140px; text-align:center;"></th>
            <th style="width:85px; text-align:center;"></th>
            <th style="width:330px; text-align:center;">操作</th>
          </tr>
        </thead>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">aa</a></td>
          <td  style=" text-align:center;"></td>
          <td style=" text-align:center;"></td>
          <td style=" text-align:center;">2015-02-04 17:58</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=6" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">aa</a></td>
          <td  style=" text-align:center;"></td>
          <td style=" text-align:center;"></td>
          <td style=" text-align:center;">2015-02-04 18:19</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=7" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">aa</a></td>
          <td  style=" text-align:center;"></td>
          <td style=" text-align:center;"></td>
          <td style=" text-align:center;">2015-02-04 18:19</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=8" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">aa</a></td>
          <td  style=" text-align:center;"></td>
          <td style=" text-align:center;"></td>
          <td style=" text-align:center;">2015-02-04 18:20</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=9" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">aa</a></td>
          <td  style=" text-align:center;"></td>
          <td style=" text-align:center;"></td>
          <td style=" text-align:center;">2015-02-05 09:38</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=11" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">aa</a></td>
          <td  style=" text-align:center;"></td>
          <td style=" text-align:center;"></td>
          <td style=" text-align:center;">2015-02-05 10:01</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=12" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		         <tbody>
        <form id="refresh_form" method="post" action="/WeiUserAdminJob/refresh">
        </form>
        <input id="uuid" name="uuid" value="" type="hidden">
        <tr id="job-dac59cae8824e21c1411ef730b8d10fd">
          <td style=" text-align:center;"><input id="" value="0" type="hidden">
            <a class="text-primary" href="" target="_blank" title="我们只要牛逼的平面设计">yuzhiying</a></td>
          <td  style=" text-align:center;">213</td>
          <td style=" text-align:center;">213</td>
          <td style=" text-align:center;">2015-02-06 18:12</td>
           <td>
		   </td> 
			<td class="refresh_time">- </td>
       
          <td  style=" text-align:center;white-space:nowrap;">
		  <a href="" class="btn btn-default"><i class="fa fa-file-text"></i>&nbsp;简历</a>
		 <a href="../bianjizhiwei.php?id=33" class="btn btn-default"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
            <div class="btn-group"><a class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-share-alt"></i>&nbsp;分享&nbsp;<i class="icon-caret-down"></i></a>
              <ul class="dropdown-menu btn-group-share" aria-labelledby="dLabel">
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weibo');"><i class="fa fa-weibo"></i>&nbsp;分享长微博</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'weixin', function() { setup_weixin_qr('/job/dac59cae8824e21c1411ef730b8d10fd'); $('#weixin_modal').modal('show'); });"><i class="fa fa-weixin"></i>&nbsp;分享至微信</a></li>
                <li><a href="javascript:;" onClick="J.share_job('dac59cae8824e21c1411ef730b8d10fd', 'qq');"><i class="fa fa-qq"></i>&nbsp;分享至QQ群</a></li>
              </ul>
            </div></td>
        </tr>
        </tbody>
		       </table>
      <div class="page"> <span class="pre"></span> <span class="next"></span> <span class="total">共1页 / 共1条</span></div>
   
    
    <!-- col -->
  </div>
  <!-- row -->
</div>
<!-- container -->
<div class="footer bg-white idx-minwidth">
  <div class="footer-wrap idx-width">
    <div class="footer-sns">
      <a href="http://weibo.com/u/3306361973" class="footer-sns-weibo hide-text" target="_blank" title="新浪微博"></a>
      <a href="javascript:void(0);" class="footer-sns-weixin" target="_blank" title="微信">
        <i class="footer-sns-weixin-expand"></i>
      </a>
      <a href="http://t.qq.com/mukewang999" class="footer-sns-qqweibo hide-text" target="_blank" title="腾讯微博"></a>
      <a href="http://user.qzone.qq.com/283903724/" class="footer-sns-qzone hide-text" target="_blank" title="QQ空间"></a>
    </div>
  </div>
  <div class="footer-link">
    <a href="" title="关于我们">关于我们</a>
    <a href="" title="人才招聘">人才招聘</a>
    <a href="" title="讲师招募">讲师招募</a>
    <a href="" title="联系我们">联系我们</a>
    <a href="" title="意见反馈">意见反馈</a>
    <a href="" title="友情链接">友情链接</a>
  </div>
  <div class="footer-copyright">
    © 2013 imooc.com  京ICP备13046642号
  </div>
</div>

<script src="js/bootstrap-switch.js"></script>


</body>
</html>
