<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta name="keywords" content="1212招聘节,双12招聘节,招聘周,招聘,互联网招聘,移动互联网招聘,社交招聘,IT招聘,微信招聘,微博招聘,豆瓣招聘,跳槽,高薪职位">
<meta name="description" content="最靠谱的招聘社区。1212创业企业招聘周。">
<title>账号管理&nbsp;-&nbsp;</title>
<script src="js/analytics.js" async=""></script>

<link rel="stylesheet" type="text/css" href="css/Index_aio1.css">
<script src="js/Index_aio.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="/Public/html5shiv-3.7.2/html5shiv.min.js"></script><script src="/Public/Respond/dest/respond.min.js"></script><![endif]-->


</head>
<body>
<div style="top: 0px; opacity: 1;" id="js-header" class="">
  <div class="header-wrap clearfix">
    <div class="logo-wrap"><a href="" class="logo hide-text"><img src="img/logo.png"></a></div>

        <div class="header-right">
        <ul>
            <li class="header-right-item">
               
            </li>
            <li class="header-right-item">
                <a id="js-header-login" href="../denglu.php">
                    登录
                </a>
            </li>
            <li class="header-right-item">
                <a id="js-header-register" href="../login.php">
                    注册
                </a>
            </li>
        </ul>
    </div>
    <ul class="header-mid">
        <li>
            <a href="">兼职</a>
        </li>
        <li>
            <a href="">实习生</a>
        </li>
       <li>
            <a href="">论坛</a>
        </li>
    </ul>
      </div>
</div>
<link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="js/bootstrap-datetimepicker.js"></script>
<script src="js/e-power-detail.js"></script>
<div class="container">
  
  <div class="row wei-user-heading">
    
  </div>
</div>
<div class="container-fluid container-nav-tabs-2">
  <div class="container">
    <ul class="nav nav-tabs-2" role="tablist">
      <li><a href="">职位管理</a></li>
      <li><a href="">简历管理</a></li>
      <li><a href="">企业资料</a></li>
      <li class="active"><a href="">账号设置</a></li>
    </ul>
  </div>
</div>

        <div class="container">
  <div class="row wei-user-admin-container">
    <div class="col-xs-3 col-md-2 sidebar-menu">
      <ul class="list-group">
      
        <li class="list-group-item"><a class="text-primary" href=""><i class=" fa-2x fa-calendar"></i>职位管理</a></li>
        <li class="list-group-item notifier-number" data-notifier-number="0"><a class="text-label" href="http://www.renpu.com/e/admin/apply"><i class="fa-calendar1"></i>简历管理</a></li>
        <!--<li class="list-group-item"><a class="text-label" href=""><i class="fa fa-2x fa-comments-o"></i>评论管理</a></li>-->
        <li class="list-group-item notifier notifier-lg"><a class="text-label" href=""><i class="fa-calendar2"></i>企业资料</a></li>
        <li class="list-group-item"><a class="text-label" href=""><i class="fa-calendar3"></i>账号设置</a></li>
      </ul>
    </div>
	    <div class="col-xs-15 col-md-10 wei-user-admin-content">
      <div class="wei-user-admin-title-bar">
        <div class="container-nav-tabs-2">
          <ul class="nav nav-tabs-2" role="tablist">
            <li><a href="">修改手机</a></li>
            <li class="active"><a href="">修改密码</a></li>
          </ul>
        </div>
      </div>
<script src="js/jquery1.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
$("#login").click(function() {
alert(000);
var form_data = {
username:$("#old_password").val(),
password:$("#new_password").val(),


};
$.ajax({
type: "POST",
url: "../xiugaimima1.php",
data: form_data,

success: function(json)
{$('#result').html(json);
alert(json);
 var value=json;

      if(value=="登陆成功"){

location.href = "index.php";

}else{

$('#result').html(json)}; 

}
});
 
return false;
});
 
});
</script> 
      <form class="form-horizontal" method="post" action="/WeiUserAdminAccount/password" onSubmit="return isValidForm();">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="old_password">原密码&nbsp;<span>*</span></label>
          <div class="col-sm-5">
            <input class="form-control" id="old_password" name="old_password" value="" placeholder="必填" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="password">新密码&nbsp;<span>*</span></label>
          <div class="col-sm-5">
            <input class="form-control" id="new_password" name="new_password" value="" placeholder="必填" type="password">
            <span class="help-block">新密码不能少于6位</span></div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="re_password">重复新密码&nbsp;<span>*</span></label>
          <div class="col-sm-5">
            <input class="form-control" id="new_password" name="new_password" value="" placeholder="必填" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-5">
            <button type="bution" class="btn btn-primary" id="login">提交</button>
             
           
          </div>
        </div>
      </form>
      <script>function isValidForm() {
    var old_password = $("#old_password").val();
    var     password = $("#password").val();
    var  re_password = $("#re_password").val();
    
    if (!old_password || !password || !re_password) {
	    alert('密码不能为空');
	    return false;
    }
    
    if (password != re_password) {
	    alert('两次输入的新密码不一致');
	    return false;
    }
    
    return true;
}
</script>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
<!-- footer -->
<div class="footer bg-white idx-minwidth">
  <div class="footer-wrap idx-width">
    <div class="footer-sns">
      <a href="http://www.renpu.comu/3306361973" class="footer-sns-weibo hide-text" target="_blank" title="新浪微博"></a>
      <a href="javascript:void(0);" class="footer-sns-weixin" target="_blank" title="微信">
        <i class="footer-sns-weixin-expand"></i>
      </a>
      <a href="http://t.qq.com/mukewang999" class="footer-sns-qqweibo hide-text" target="_blank" title="腾讯微博"></a>
      <a href="http://user.qzone.qq.com/283903724/" class="footer-sns-qzone hide-text" target="_blank" title="QQ空间"></a>
    </div>
  </div>
  <div class="footer-link">
    <a href="" title="关于我们">关于我们</a>
    <a href="" title="人才招聘">人才招聘</a>
    <a href="" title="讲师招募">讲师招募</a>
    <a href="" title="联系我们">联系我们</a>
    <a href="" title="意见反馈">意见反馈</a>
    <a href="" title="友情链接">友情链接</a>
  </div>
  <div class="footer-copyright">
    © 2013 imooc.com  京ICP备13046642号
  </div>
</div>

</body>
</html>
