{% extends "user/base.html" %}
{% block main_content %}

      <div class="wei-user-admin-title-bar">
        <div class="container-nav-tabs-2">
          <ul class="nav nav-tabs-2" role="tablist">
            <li><a href="{% url 'user:enterpriseinfo'%}">修改手机</a></li>
            <li class="active"><a href="">修改密码</a></li>
          </ul>
        </div>
      </div>
<script src="js/jquery1.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
$("#login").click(function() {
alert(000);
var form_data = {
username:$("#old_password").val(),
password:$("#new_password").val(),


};
$.ajax({
type: "POST",
url: "../xiugaimima1.php",
data: form_data,

success: function(json)
{$('#result').html(json);
alert(json);
 var value=json;

      if(value=="登陆成功"){

location.href = "index.php";

}else{

$('#result').html(json)};

}
});

return false;
});

});
</script>
      <form class="form-horizontal" method="post" action="/WeiUserAdminAccount/password" onSubmit="return isValidForm();">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="old_password">原密码&nbsp;<span>*</span></label>
          <div class="col-sm-5">
            <input class="form-control" id="old_password" name="old_password" value="" placeholder="必填" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="password">新密码&nbsp;<span>*</span></label>
          <div class="col-sm-5">
            <input class="form-control" id="new_password" name="new_password" value="" placeholder="必填" type="password">
            <span class="help-block">新密码不能少于6位</span></div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="re_password">重复新密码&nbsp;<span>*</span></label>
          <div class="col-sm-5">
            <input class="form-control" id="new_password" name="new_password" value="" placeholder="必填" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">&nbsp;</label>
          <div class="col-sm-5">
            <button type="bution" class="btn btn-primary" id="login">提交</button>
             

          </div>
        </div>
      </form>
      <script>function isValidForm() {
    var old_password = $("#old_password").val();
    var     password = $("#password").val();
    var  re_password = $("#re_password").val();

    if (!old_password || !password || !re_password) {
	    alert('密码不能为空');
	    return false;
    }

    if (password != re_password) {
	    alert('两次输入的新密码不一致');
	    return false;
    }

    return true;
}
</script>
    </div>
{% endblock %}
