{% extends "user/base.html" %}
{% load none_filter %}
{% load staticfiles %}
{% block main_content %}
  <h2 class="text-center">{{ title }}</h2>
  {{ form.errors }}
<!--   {% for k, v in form.errors %}
    {{ k }} {{ v }}
  {% endfor %}
 -->  <form class="form-horizontal" method="post" action="{% url 'user:enterpriseinfo' %}" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <input id="logo_url" value="" type="hidden">
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">企业名称</label>
      <div class="col-sm-5">
        <input class="form-control" id="name" name="name" placeholder="与营业执照一致的企业全名" required="required"
        value="{{ form.name.value|convert_none }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">企业简称</label>
      <div class="col-sm-5">
        <input class="form-control" id="name_abb" name="name_abb" placeholder="大众熟知的企业简称" value="{{ form.name_abb.value|convert_none }}" required="required" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">手机</label>
      <div class="col-sm-5">
        <input id="phone" name="phone" placeholder="手机" class="form-control" value="{{ form.phone.value|convert_none }}"type="text">
      </div>
      <div class="input">
        <button type="button" id="verify_code_send" class="btn btn-default"  style="width:120px;">免费获取验证码</button>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label  control-label-required">验证码</label>
      <div class="col-sm-5">
        <input class="form-control" id="code" name="code" placeholder="" required="required" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">所在城市</label>
      <div class="col-sm-5">
        <select id="province" class="pull-left form-control" style="width:50%;" >
          <option>请选择省份</option>
          {% for province in provinces %}
            <option value="{{ province.id }}" {% if province.selected %}
              selected="selected"
            {% endif %}>{{ province.name }}</option>
          {% endfor %}
        </select>
        <select class="pull-left form-control" name="city" style="width:50%;" id="city">
          <option>请选择城市</option>
          {% for city in citys %}
            <option value="{{ city.id }}" {% if city.selected %}
              selected="selected"
            {% endif %}>{{ city.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label">详细地址</label>
      <div class="col-sm-5">
        <input class="form-control" id="address" name="address_detail" value="{{ form.address_detail.value|convert_none }}"placeholder="公司地址" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">企业规模</label>
      <div class="col-sm-5">
        <select class="form-control" required name="scale" id="scale">
          <option {% if form.scale.value == 1 %}
            selected="selected"
          {% endif %} value="1">15人以下</option>
          <option {% if form.scale.value == 2 %}
            selected="selected"
          {% endif %}  value="2">15-50人</option>
          <option {% if form.scale.value == 3 %}
            selected="selected"
          {% endif %} value="3">50-150人</option>
          <option {% if form.scale.value == 4 %}
            selected="selected"
          {% endif %}  value="4">150-500人</option>
          <option {% if form.scale.value == 5 %}
            selected="selected"
          {% endif %}  value="5">500-2000人</option>
          <option {% if form.scale.value == 6 %}
            selected="selected"
          {% endif %} value="6">2000人以上</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">QQ</label>
      <div class="col-sm-5">
        <input type="text" required class="form-control" name="qq" id="qq" value="{{ form.qq.value|convert_none }}">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">邮箱</label>
      <div class="col-sm-5">
        <input type="text"  class="form-control" name="email" id="email" required value="{{ form.email.value|convert_none }}">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">公司性质</label>
      <div class="col-sm-5">
        <select class="form-control"  required name="property" id="property">
          <option {% if form.property.value == 1 %}
            selected="selected"
          {% endif %} value="1">私企</option>
          <option {% if form.property.value == 2 %}
            selected="selected"
          {% endif %} value="2">外企</option>
          <option {% if form.property.value == 3 %}
            selected="selected"
          {% endif %} value="3">国企</option>
          <option {% if form.property.value == 4 %}
            selected="selected"
          {% endif %} value="4">中外合资</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">企业介绍</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="6" id="about" name="about" required placeholder="" >{{ form.about.value|convert_none }}</textarea>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">企业网站</label>
        <div class="col-sm-5">
          <input class="form-control" id="website" name="website" value="{{ form.website.value|convert_none }}"placeholder="企业网站或官方微博地址" type="text">
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label control-label-required">联系人</label>
        <div class="col-sm-5">
          <input class="form-control" id="contact" required name="contact" value="{{ form.contact.value|convert_none }}"placeholder="请输入联系人姓名" type="text">
        </div>
      </div>
    </form>
    <div class="form-group">&nbsp;</div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">企业Logo</label>
      <div class="col-sm-5">
        <input id="logo" name="logo" type="file"/>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-4 control-label control-label-required">企业营业执照</label>
      <div class="col-sm-5">
        <input id="logo_file" name="business_license" accept="image/gif, image/jpeg, image/png" type="file">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-5">
        <button  class="btn btn-lg btn-block btn-highlight submit" id="login">立即免费开通</button>
      </div>
    </div>
  </form>
{% endblock %}
