{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row1">
            <div class="col-xs-9 col-home-960">
                <div class="r">
                    <div id="example">
                        <div id="slides">
                            <div class="slides_container">
                                <a href="" target="_blank"><img src="{% static 'img/cc.jpg' %}" width="720" height="320" alt="Slide 1"></a>
                                <a href="" target="_blank"><img src="{% static 'img/slide-2.jpg' %}" width="720" height="320" alt="Slide 2"></a>
                                <a href="" target="_blank"><img src="{% static 'img/slide-3.jpg' %}" width="720" height="320" alt="Slide 3"></a>
                                <a href="" target="_blank"><img src="{% static 'img/slide-4.jpg' %}" width="720" height="320" alt="Slide 4"></a>
                                <a href="" target="_blank"><img src="{% static 'img/slide-5.jpg' %}" width="720" height="320" alt="Slide 5"></a>
                                <a href="" target="_blank"><img src="{% static 'img/slide-6.jpg' %}" width="720" height="320" alt="Slide 6"></a>
                                <a href=""target="_blank"><img src="{% static 'img/slide-7.jpg' %}" width="720" height="320" alt="Slide 7"></a>
                            </div>
                            <a href="#" class="prev"><img src="{% static 'img/left.png' %}" width="24" height="43" alt="Arrow Prev"></a>
                            <a href="#" class="next"><img src="{% static 'img/right.png' %}" width="24" height="43" alt="Arrow Next"></a>
                        </div>
                    </div>
                </div>
            </div>
            {% if not user.is_login %}
                <div class="col-xs-3 col-home-210">
                    <div class="panel panel-simple panel-simple-border panel-user-dashboard js-login-panel">
                        <div class="panel-heading">企业登录</div>
                        <div class="panel-body">
                            <form role="form" id="login_form" method="post" action="{% url 'user:login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">用户名</label>
                                    <input class="form-control" id="username" name="username" placeholder="用户名" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="password">密码</label>
                                    <input class="form-control" id="password" name="password" placeholder="登录密码" type="password">
                                </div>
                                <div class="checkbox">
                                    <a class="pull-right" href="../zhaohuimima.php">找回密码</a>
                                </div>
                                <button type="button" class="btn btn-block btn-primary js-btn-login btn_button" id="login">登录</button>
                            </form>
                            <div class="text-block text-right"><a href="{% url 'user:register' %}">免费注册</a> </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row" style="margin:auto; width:1070px;">
            <div class="col-xs-9 col-home-960">
                <div class="panel panel-with-tabs">
                    <div class="panel-heading">
                        <div>
                        </div>
                    </div>
                    <div id="shaixuadn" style="width:960px; min-height:180px;  display:block; border-bottom:2px solid #0C0; padding-bottom:10px;">
                        <div class="job_search">
                        {% include 'partial/jobfilter.html' %}
                        </div>
                        <span class="panel-title" id="remen_1" >热门兼职</span>
                    </div>
                    {% include "partial/joblist.html" %}
                </div>
                <div class="q" style=" "><a href="{% url 'list' %}" style="">更多...</a></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
    $('#slides').slides({
    preload: true,
    preloadImage: '{% static "img/loading.gif" %}',
    play: 5000,
    pause: 2500,
    hoverPause: true
    });
    </script>
    <script type="text/javascript">
    $("#login").click(function(){
    var data = $("#login_form").serializeArray();
    $.ajax({
    url: '{% url "user:login" %}',
    type: 'POST',
    dataType: 'json',
    data: data,
    })
    .done(function(data) {
    // console.log("done");
    console.log(data);
    if(data.status==0){
    location.href = "{% url 'user:index' %}";
    } else{
    alert(data.msg);
    };
    })
    .fail(function() {
    console.log("error");
    })
    .always(function() {
    console.log("complete");
    });
    })
    </script>
{% endblock %}
