{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>职位列表&nbsp;-&nbsp;</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertify.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
    <style type="text/css">
    .imgLiquid img {visibility:hidden}
    </style>
    <link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- hreder  end -->
    <div class="container" style="width:960px; margin:auto; margin-top:10px;">
        <div class="row">
            <div class="col-md-9" role="main">
                <div class="row job-section">
                    <div class="job-section-nav"><span>找到&nbsp;<span class="cOrange">{{ count }}</span>&nbsp;个相关兼职</span></div>
                    <div class="job-section-body">
                        <div class="job_search">
                            {% include "partial/jobfilter.html" %}
                        </div>
                        <div class="sortbar"><span class="right">共&nbsp;<span class="cOrange">{{ count }}</span>&nbsp;个靠谱兼职</span>
         <!--                <ul class="sortbar_btns">
                            <li><a href="#">热门<span class="ico_sortbar_btns ico_sortbar_btns_btm2"></span></a></li>
                            <li><a href="#">最新<span class="ico_sortbar_btns ico_sortbar_btns_btm1"></span></a></li>
                            <li><a href="#">薪水<span class="ico_sortbar_btns ico_sortbar_btns_btm1"></span></a></li>
                        </ul>
 -->                    </div>
                    {% include "partial/joblist.html" %}
                    <div class="pages">
                        <div class="page">
                            <a href='{% url "list" %}'>首页</a>
                            {% if current_page != 0 %}
                                <a href='{% url "list" %}?page={{ current_page|add:"-1"}}'>上一页</a>
                            {% endif %}

                            <!---->
                            <a>1</a>
                            <a>2</a>
                            <a>3</a>
                            <a href='{% url "list" %}?page={{ page_num }}'>尾页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
