{% load staticfiles %}
<div style="top: 0px; opacity: 1;" id="js-header" class="">
  <div class="header-wrap clearfix">
    <div class="logo-wrap"><a href="" class="logo hide-text"><img src="{% static 'img/logo.png' %}"></a></div>

        <div class="header-right">
        <ul>
            <li class="header-right-item">

            </li>
            <li class="header-right-item">
                <a id="js-header-login" href="javascript:void(0);">
                    登录
                </a>
            </li>
            <li class="header-right-item">
                <a id="js-header-register" href="javascript:void(0);">
                    注册
                </a>
            </li>
        </ul>
    </div>
    <ul class="header-mid">
        <li>
            <a href="">兼职</a>
        </li>
        <li>
            <a href="">实习生</a>
        </li>
       <li>
            <a href="">论坛</a>
        </li>
    </ul>
      </div>
</div>
